// Fonts
$-f-spartan: 'Spartan', sans-serif;

// Colors
$-c-highlight: hsl(180, 29%, 50%);
$-c-background: hsl(180, 52%, 96%);
$-c-filter: hsl(180, 31%, 95%);
$-c-cyan: hsl(180, 8%, 52%);
$-c-dark-cyan: hsl(180, 14%, 20%);